{% extends 'base.html' %}

{% block title %} Sistema Facturación {% endblock %}
{% block head %}<meta charset="utf-8">{% endblock %}
{% load staticfiles %}


{% block content %}

<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingrese la contraseña para abrir la caja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Contraseña</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success">Ingresar</button>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Imprimiendo factura...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>La venta se ha registrado con éxito</p>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div id="modal_error" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Error en la Venta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="alert alert-danger" role="alert">
  <strong>Error!</strong> Se ha producido un error al realizar la venta.
</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>
	
<div id="caja_cerrada" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Caja Cerrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
       <div class="alert alert-danger" role="alert">
  <strong>Error!</strong> No se pueden realizar ventas, la caja esta cerrada.
</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div id="día_cerrado" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Día Cerrado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
       <div class="alert alert-danger" role="alert">
  <strong>Error!</strong> No se pueden abrir la caja, día cerrado.
</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>	

<div id="pago_tarjeta" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Pago Tarjeta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
       <div class="row">
       <div class="col align-self-center center-block">
      
      <div class="btn-group " data-toggle="buttons">
      
  <label class="btn btn-primary">
    <input type="radio" name="card_type" id="tarjeta_debito" autocomplete="off" value="Tarjeta Debito" > Debito
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="card_type" id="tarjeta_credito" autocomplete="off" value="Tarjeta Credito"> Credito
  </label>
  
</div></div>
</div>
      <div class="modal-body">
       
  		<strong>Ingrese monto</strong>
  		<input type="number" id="value_monto"></input>
		 
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" id="btn_venta">Realizar Venta</button>
      </div>
    </div>
  </div>
</div>	
<div id="error_apertura" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Error!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
       <div class="alert alert-danger" role="alert">
  <strong></strong> No se pueden abrir la caja, no existe la caja.
</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>	
<div id="confirmacion_cierre_caja" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Cierre Caja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
       
  		<strong>¿Seguro que desea cerrar la caja?</strong>
		 
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-success" id="btn_ok_cierre">Si</button>
      </div>
    </div>
  </div>
</div>	


{% csrf_token %}
<input id='apertura_caja' type="hidden" name="apertura_caja" value="caja_cerrada">
<script type="text/javascript">
function checkCaja(){
	//alert('Entre');
	$.ajaxSetup({ 
	     beforeSend: function(xhr, settings) {
	         function getCookie(name) {
	             var cookieValue = null;
	             if (document.cookie && document.cookie != '') {
	                 var cookies = document.cookie.split(';');
	                 for (var i = 0; i < cookies.length; i++) {
	                     var cookie = jQuery.trim(cookies[i]);
	                     // Does this cookie string begin with the name we want?
	                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                         break;
	                     }
	                 }
	             }
	             return cookieValue;
	         }
	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	             // Only send the token to relative URLs i.e. locally.
	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	         }
	     } 
	});
	
	var caja = document.getElementById('num_caja').value;
	$.ajax({
        type: "POST",
        url: "/billingPOS/ventas/checkCaja/",
        //url: "~/Vistas/SistemaDeGestion/Controladores/Controlador_Reserva/AuxBusquedaSocio", 
        data:JSON
        .stringify({'param':caja}), // passing the parameter 
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: false,
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            //alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            //alert(XMLHttpRequest.status);
            //alert(XMLHttpRequest.responseText);
          // alert(XMLHttpRequest.errorThrown);   
       	 //alert("ERRRROORRR")
        },
        success: function (result) {
       	
        if(result == 'cajaCerrada'){
        	document.getElementById('abrirCerrarCaja').className = 'btn btn-success';
    		document.getElementById('abrirCerrarCaja').value = 'Abrir Caja'; 
    		document.getElementById('apertura_caja').value = 'caja_cerrada';
    		document.getElementById('abrirCerrarCaja').type = 'button';
        }else{
        	if(result == 'existeCajaAbierta'){
        		document.getElementById('abrirCerrarCaja').className = 'btn btn-danger';
		    	document.getElementById('abrirCerrarCaja').value = 'Cerrar Caja'; 
		    	document.getElementById('apertura_caja').value = 'caja_abierta';
		    	document.getElementById('abrirCerrarCaja').type = 'button';
        		
        	}
        }
       	 count = result;
       	 //alert(count)
        }
    });
	
}

function guardarDatosAux(url, precio, id, observaciones){
	var caja = document.getElementById('apertura_caja').value;

	if(caja == 'caja_abierta'){
	if(observaciones == 'pago_tarjeta'){
		 document.getElementById('value_monto').value = "";
		 
		 $('#pago_tarjeta').modal('show');
		 $(document).ready(function () {
			    $("button[id=btn_venta]").on('click', function (e) {
			    	var value = document.getElementById('value_monto').value;
			    	 guardarDatos(url, value, id, observaciones);
			    	 //alert(value);
			    	 $('#pago_tarjeta').modal('hide');
			    });
			});
	}else{
		
		guardarDatos(url, precio, id, observaciones);
	}
	
	}else{
		
		guardarDatos(url, precio, id, observaciones);
		}
	
}

function guardarDatos(url, precio, id, observaciones){
	$('#pago_tarjeta').modal('hide');
	
	var radios = document.getElementsByName('card_type');
	var tipo_tarjeta = "Tarjeta Debito";
	for (var i = 0, length = radios.length; i < length; i++)
	{
	 if (radios[i].checked)
	 {
	  // do whatever you want with the checked radio
	  //alert(radios[i].value);
	  tipo_tarjeta = radios[i].value
	  // only one radio can be logically checked, don't check the rest
	  break;
	 }
	}
	
	$.ajaxSetup({ 
	     beforeSend: function(xhr, settings) {
	         function getCookie(name) {
	             var cookieValue = null;
	             if (document.cookie && document.cookie != '') {
	                 var cookies = document.cookie.split(';');
	                 for (var i = 0; i < cookies.length; i++) {
	                     var cookie = jQuery.trim(cookies[i]);
	                     // Does this cookie string begin with the name we want?
	                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                         break;
	                     }
	                 }
	             }
	             return cookieValue;
	         }
	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	             // Only send the token to relative URLs i.e. locally.
	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	         }
	     } 
	});
	
	
	
	var caja = document.getElementById('apertura_caja').value;
	
	
	if(caja == 'caja_abierta'){
		
	var param_url = url;
	var param_id = id;
	var param_precio = precio;
	var param_caja = document.getElementById('num_caja').value;
	var param_observaciones = observaciones;
	var param =param_url + "," +param_precio+","+param_caja+","+id+","+param_observaciones+","+tipo_tarjeta;
	//var param = c+","+d;
	 var count;
     $.ajax({
         type: "POST",
         url: "/billingPOS/ventas/cargaVenta/",
         //url: "~/Vistas/SistemaDeGestion/Controladores/Controlador_Reserva/AuxBusquedaSocio", 
         data:JSON
         .stringify({'param':param}), // passing the parameter 
         contentType: "application/json; charset=utf-8",
         dataType: "json",
         async: false,
         error: function (XMLHttpRequest, textStatus, errorThrown) {
             //alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
             //alert(XMLHttpRequest.status);
             //alert(XMLHttpRequest.responseText);
           // alert(XMLHttpRequest.errorThrown);   
        	 $('#modal_error').modal();
             setTimeout(function() {$('#modal_error').modal('hide');}, 2000);
         },
         success: function (result) {
        	
        	 count = result;
        	 $('#myModal').modal();
             setTimeout(function() {$('#myModal').modal('hide');}, 2000);
         }
     });
     var a = count;
     
     
		
		
		
	}else{
		
		 $('#caja_cerrada').modal();
		 setTimeout(function() {$('#caja_cerrada').modal('hide');}, 2000);
	}
     
}

function abrirCerrarCajaAux(){
	var clase = document.getElementById('abrirCerrarCaja').value;
	
	if(clase == 'Cerrar Caja'){
		
		 $('#confirmacion_cierre_caja').modal('show');
		 $(document).ready(function () {
			    $("button[id=btn_ok_cierre]").on('click', function (e) {
			    	abrir_cerrar_caja();
			    	 //alert(value);
			    	$('#confirmacion_cierre_caja').modal('hide');
			    
			    });
			    
			});

		
    	 
		
	}else{
		if(clase == 'Abrir Caja'){
			abrir_cerrar_caja();
		}
	}	
	
	
}
function abrir_cerrar_caja(){
	$.ajaxSetup({ 
	     beforeSend: function(xhr, settings) {
	         function getCookie(name) {
	             var cookieValue = null;
	             if (document.cookie && document.cookie != '') {
	                 var cookies = document.cookie.split(';');
	                 for (var i = 0; i < cookies.length; i++) {
	                     var cookie = jQuery.trim(cookies[i]);
	                     // Does this cookie string begin with the name we want?
	                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                         break;
	                     }
	                 }
	             }
	             return cookieValue;
	         }
	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	             // Only send the token to relative URLs i.e. locally.
	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	         }
	     } 
	});
	var clase = document.getElementById('abrirCerrarCaja').value;
	var caja = document.getElementById('num_caja').value;
	if(clase == 'Cerrar Caja'){

	
		$.ajax({
	         type: "POST",
	         url: "/billingPOS/ventas/cierreCaja/",
	         //url: "~/Vistas/SistemaDeGestion/Controladores/Controlador_Reserva/AuxBusquedaSocio", 
	         data:JSON
	         .stringify({'param':caja}), // passing the parameter 
	         contentType: "application/json; charset=utf-8",
	         dataType: "json",
	         async: false,
	         error: function (XMLHttpRequest, textStatus, errorThrown) {
	             //alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
	             //alert(XMLHttpRequest.status);
	             //alert(XMLHttpRequest.responseText);
	        	 $('#error_apertura').modal();
	             setTimeout(function() {$('#error_apertura').modal('hide');}, 2000);   
	        	
	         },
	         success: function (result) {
	        	
	        	 if(result == 'permitirAperturaCaja'){
	        	 //$('#login_modal').modal();
	        	 document.getElementById('abrirCerrarCaja').className = 'btn btn-danger';
		    	 document.getElementById('abrirCerrarCaja').value = 'Cerrar Caja'; 
		    	 document.getElementById('apertura_caja').value = 'caja_abierta';
	        	 }else{
	        		
	        		 $('#día_cerrado').modal();

	        		 setTimeout(function() {$('#día_cerrado').modal('hide');}, 2000);
	 	        	document.getElementById('abrirCerrarCaja').className = 'btn btn-success';
	 	        	document.getElementById('abrirCerrarCaja').value = 'Abrir Caja'; 
	 	        	document.getElementById('apertura_caja').value = 'caja_cerrada';
	        		 
	        		 
	        	 }
	         }
	     });
	document.getElementById('abrirCerrarCaja').className = 'btn btn-success';
	document.getElementById('abrirCerrarCaja').value = 'Abrir Caja'; 
	document.getElementById('apertura_caja').value = 'caja_cerrada';
	}else{
	
	if(clase == 'Abrir Caja'){
		
		 
		 $.ajax({
	         type: "POST",
	         url: "/billingPOS/ventas/aperturaCaja/",
	         //url: "~/Vistas/SistemaDeGestion/Controladores/Controlador_Reserva/AuxBusquedaSocio", 
	         data:JSON
	         .stringify({'param':caja}), // passing the parameter 
	         contentType: "application/json; charset=utf-8",
	         dataType: "json",
	         async: false,
	         error: function (XMLHttpRequest, textStatus, errorThrown) {
	             //alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
	             //alert(XMLHttpRequest.status);
	             //alert(XMLHttpRequest.responseText);
	           // alert(XMLHttpRequest.errorThrown);   
	        	 $('#error_apertura').modal();
	             setTimeout(function() {$('#error_apertura').modal('hide');}, 2000);
	         },
	         success: function (result) {
	        	
	        	 if(result == 'permitirAperturaCaja'){
	        	 //$('#login_modal').modal();
	        	 document.getElementById('abrirCerrarCaja').className = 'btn btn-danger';
		    	 document.getElementById('abrirCerrarCaja').value = 'Cerrar Caja'; 
		    	 document.getElementById('apertura_caja').value = 'caja_abierta';
	        	 }else{
	        		
	        		 $('#día_cerrado').modal();

	        		 setTimeout(function() {$('#día_cerrado').modal('hide');}, 2000);
	 	        	document.getElementById('abrirCerrarCaja').className = 'btn btn-success';
	 	        	document.getElementById('abrirCerrarCaja').value = 'Abrir Caja'; 
	 	        	document.getElementById('apertura_caja').value = 'caja_cerrada';
	        		 
	        		 
	        	 }
	         }
	     });
		
		//Se llama al modal para que se haga el login 
		
		
		}
	}
}

</script>
<body onload="checkCaja()">
 <input type="hidden" id="num_caja" name='num_caja' value='{{caja_id}}'>
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
		<!--  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-ejemplo" aria-controls="navbar-ejemplo" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>-->
		<a class="navbar-brand" href="#">Bar7a</a>

		<div class="collapse navbar-collapse" id="navbar-ejemplo">
			<span class="navbar-text">
				Caja {{caja_id}}
			</span>
			
		</div>
		<a class="navbar-brand" href="/logout">Salir</a>
		 
		<input id="abrirCerrarCaja" type="button" class="btn btn-success" value="Abrir Caja" onclick="abrirCerrarCajaAux();" />
	</nav>

	<!-- Nicolas: aca estaba la clase container y ademas agregamos el div col-sm-12-->
	<div class="container-fluid"> 
		<div class="row">
			<div class="col-sm-12">
				<div class="album text-muted">
					{% for file in all_products %}
						{% with image='gallery/img/'|add:file.0 %} 
						<div class="card" style="width: 10rem;"> 
							<a href="javascript:guardarDatosAux('{{file.0}}','{{file.1}}','{{file.2}}','{{file.3}}')">
								<img class="img-fluid" src="{% static image %}"/> 
								<div class="card-body" align="center">
	   								<h4 class="card-title">{{file.1}}</h4>
								</div>
							</a>
						</div>
						{% endwith %}
						{% empty %}
						<h2>No imagenes disponibles!</h2>
					{%endfor%}	
				</div>
			</div>
		</div>
	</div>
	 
	<!-- 
	<div class="album text-muted">
		<div class="container">
			<div class="row">

				{% for file in all_products %}
					  {% with image='gallery/img/'|add:file.0 %} 
						<div class="card" style="width: 10rem;"> 
						
							<a href="javascript:guardarDatos('{{file.0}}','{{file.1}}')">
							
							 <img class="img-fluid" src="{% static image %}"/> 
								<div class="card-body" align="center">
   									<h4 class="card-title">{{file.1}}</h4>
								</div>
							</a>
						</div>
					{% endwith %}
				{% empty %}
					<h2>No imagenes disponibles!</h2>
				{%endfor%}	

			</div>
		</div>
	</div>	
	-->
</body>
{% endblock %}

{% block footer %}
<footer class="footerManualStle"> <!-- Le sacamos el valor del atributo class y queda como estaba antes. -->
	<div style="color: #eceeef;" class="container">
		<p>Dinnpro</p>
	</div>
</footer>
{% endblock %}
