{% extends 'base.html' %}

{% block title %} Sistema Facturación {% endblock %}
{% block head %}<meta charset="utf-8">{% endblock %}
{% load staticfiles %}


{% block content %}

<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingrese la contraseña para abrir la caja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Contraseña</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success">Ingresar</button>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Imprimiendo factura...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>La venta se ha registrado con éxito</p>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div id="modal_error" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Error en la Venta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="alert alert-danger" role="alert">
  <strong>Error!</strong> Se ha producido un error al realizar la venta.
</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>
	
<div id="caja_cerrada" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Caja Cerrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
       <div class="alert alert-danger" role="alert">
  <strong>Error!</strong> No se pueden realizar ventas, la caja esta cerrada.
</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<div id="día_cerrado" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Día Cerrado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
       <div class="alert alert-danger" role="alert">
  <strong>Error!</strong> No se pueden abrir la caja, día cerrado.
</div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>	
{% csrf_token %}
<input id='apertura_caja' type="hidden" name="apertura_caja" value="caja_cerrada">
<script type="text/javascript">


function guardarDatos(url, precio){
	 
	var caja = document.getElementById('apertura_caja').value;
	
	
	if(caja == 'caja_abierta'){
	var param_url = url;
	var param_precio = precio;
	var param_caja = document.getElementById('num_caja').value;
	
	var param =param_url + "," +param_precio+","+param_caja;
	//var param = c+","+d;
	 var count;
     $.ajax({
         type: "POST",
         url: "/billingPOS/ventas/cargaVenta/",
         //url: "~/Vistas/SistemaDeGestion/Controladores/Controlador_Reserva/AuxBusquedaSocio", 
         data:JSON
         .stringify({'param':param}), // passing the parameter 
         contentType: "application/json; charset=utf-8",
         dataType: "json",
         async: false,
         error: function (XMLHttpRequest, textStatus, errorThrown) {
             //alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
             //alert(XMLHttpRequest.status);
             //alert(XMLHttpRequest.responseText);
           // alert(XMLHttpRequest.errorThrown);   
        	 $('#modal_error').modal();
             setTimeout(function() {$('#modal_error').modal('hide');}, 2000);
         },
         success: function (result) {
        	
        	 count = result;
        	 $('#myModal').modal();
             setTimeout(function() {$('#myModal').modal('hide');}, 2000);
         }
     });
     var a = count;
	}else{
		
		 $('#caja_cerrada').modal();
		 setTimeout(function() {$('#caja_cerrada').modal('hide');}, 2000);
	}
     
}
function abrirCerrarCaja(){
	
	var clase = document.getElementById('abrirCerrarCaja').className;
	if(clase == 'btn btn-danger'){
		$.ajax({
	         type: "POST",
	         url: "/billingPOS/ventas/cierreCaja/",
	         //url: "~/Vistas/SistemaDeGestion/Controladores/Controlador_Reserva/AuxBusquedaSocio", 
	         data:JSON
	         .stringify({'param':fec}), // passing the parameter 
	         contentType: "application/json; charset=utf-8",
	         dataType: "json",
	         async: false,
	         error: function (XMLHttpRequest, textStatus, errorThrown) {
	             //alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
	             //alert(XMLHttpRequest.status);
	             //alert(XMLHttpRequest.responseText);
	           // alert(XMLHttpRequest.errorThrown);   
	        	
	         },
	         success: function (result) {
	        	
	        	 if(result == 'permitirAperturaCaja'){
	        	 //$('#login_modal').modal();
	        	 document.getElementById('abrirCerrarCaja').className = 'btn btn-danger';
		    	 document.getElementById('abrirCerrarCaja').value = 'Cerrar Caja'; 
		    	 document.getElementById('apertura_caja').value = 'caja_abierta';
	        	 }else{
	        		
	        		 $('#día_cerrado').modal();

	        		 setTimeout(function() {$('#día_cerrado').modal('hide');}, 2000);
	 	        	document.getElementById('abrirCerrarCaja').className = 'btn btn-success';
	 	        	document.getElementById('abrirCerrarCaja').value = 'Abrir Caja'; 
	 	        	document.getElementById('apertura_caja').value = 'caja_cerrada';
	        		 
	        		 
	        	 }
	         }
	     });
	document.getElementById('abrirCerrarCaja').className = 'btn btn-success';
	document.getElementById('abrirCerrarCaja').value = 'Abrir Caja'; 
	document.getElementById('apertura_caja').value = 'caja_cerrada';
	}else{
	
	if(clase == 'btn btn-success'){
		
		 var today = new Date();
		 var dd = today.getDate();
		 var mm = today.getMonth()+1; //January is 0!
		 var yyyy = today.getFullYear();
		 var hh = today.getHours();
         var min = today.getMinutes();
         var ss = today.getSeconds();
		 if(dd<10) {
			    dd = '0'+dd
			} 
		 if(mm<10) {
			    mm = '0'+mm
			}
		 if(min<10) {
			    min = '0'+min
			}
		 if(hh<10) {
			    hh = '0'+hh
			}
		 if(ss<10) {
			    ss = '0'+ss
			}
		 var fec = yyyy+"-"+mm+"-"+dd+" "+hh+":"+min+":"+ss;
		 $.ajax({
	         type: "POST",
	         url: "/billingPOS/ventas/aperturaCaja/",
	         //url: "~/Vistas/SistemaDeGestion/Controladores/Controlador_Reserva/AuxBusquedaSocio", 
	         data:JSON
	         .stringify({'param':fec}), // passing the parameter 
	         contentType: "application/json; charset=utf-8",
	         dataType: "json",
	         async: false,
	         error: function (XMLHttpRequest, textStatus, errorThrown) {
	             //alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
	             //alert(XMLHttpRequest.status);
	             //alert(XMLHttpRequest.responseText);
	           // alert(XMLHttpRequest.errorThrown);   
	        	
	         },
	         success: function (result) {
	        	
	        	 if(result == 'permitirAperturaCaja'){
	        	 //$('#login_modal').modal();
	        	 document.getElementById('abrirCerrarCaja').className = 'btn btn-danger';
		    	 document.getElementById('abrirCerrarCaja').value = 'Cerrar Caja'; 
		    	 document.getElementById('apertura_caja').value = 'caja_abierta';
	        	 }else{
	        		
	        		 $('#día_cerrado').modal();

	        		 setTimeout(function() {$('#día_cerrado').modal('hide');}, 2000);
	 	        	document.getElementById('abrirCerrarCaja').className = 'btn btn-success';
	 	        	document.getElementById('abrirCerrarCaja').value = 'Abrir Caja'; 
	 	        	document.getElementById('apertura_caja').value = 'caja_cerrada';
	        		 
	        		 
	        	 }
	         }
	     });
		
		//Se llama al modal para que se haga el login 
		
		
		}
	}
}
</script>
 <input type="hidden" id="num_caja" name='num_caja' value="1">
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
		<!--  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-ejemplo" aria-controls="navbar-ejemplo" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>-->
		<a class="navbar-brand" href="#">Bar7a</a>

		<div class="collapse navbar-collapse" id="navbar-ejemplo">
			<span class="navbar-text">
				Caja 1
			</span>
			
		</div>
		<a class="navbar-brand" href="/logout">Log Out</a>
		 
		<input id="abrirCerrarCaja" type="button" class="btn btn-success" value="Abrir Caja" onclick="abrirCerrarCaja();" />
	</nav>

	<div class="album text-muted">
		<div class="container">
			<div class="row">

				{% for file in all_products %}
				
					  {% with image='gallery/img/'|add:file.0 %} 
						<div class="card" style="width: 10rem;"> 
						
							<a href="javascript:guardarDatos('{{file.0}}','{{file.1}}')">
							
							 <img class="img-fluid" src="{% static image %}"/> 
								<div class="card-body" align="center">
   									<h4 class="card-title">{{file.1}}</h4>
								</div>
							</a>
						</div>
					{% endwith %}
				{% empty %}
					<h2>No imagenes disponibles!</h2>
				{%endfor%}	

			</div>
		</div>
		
	</div>	


{% endblock %}

{% block footer %}
<footer class="text-muted">
	<div class="container">
		<p>Dinnpro</p>
	</div>
	
</footer>

{% endblock %}
