<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Facturación</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% block encabezado %}{% endblock %}

</head>

<body>
{% block modal %}{% endblock %}
    
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">{% block title %}{% endblock %}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil de Usuario</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuración</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</a>
                        </li>
                        </li>
                       
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="glyphicon glyphicon glyphicon-home"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-calendar"></i> Apertura y Cierre de Día<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Nuevo Apertura de Día</a>
                                </li>
                                <li>
                                    <a href="morris.html">Nuevo Cierre de Día</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i> Apertura y Cierre de Caja<span class="fa arrow">
                                <span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/gestionArt/ganado/newGanado">Nuevo Apertura de Caja</a>
                                </li>
                                <li>
                                    <a href="/gestionArt/ganado/newGanado">Nuevo Cierre de Caja</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% load permission_tags %}

					{% if user|has_role:'encargado' %}
                        <li>
                            <a href="#"><i class="glyphicon glyphicon glyphicon-book"></i> Informes X y Z<span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/back_end/informe_x">Nuevo Informe X</a>
                                </li>
                         
                                <li>
                                    <a href="/back_end/informe_z">Nuevo Informe Z</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        	{% endif %}

                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon glyphicon-scale"></i>
                                Reportes<span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
						{% if user|has_role:'contador' %}
                                <li>
                                    <a href="/back_end/reporte_ventas_producto">Ventas por producto</a>
                                </li>
                        {% endif %}
                                <li>
                                    <a href="/gestionArt/ganado/ganadoList/">Ventas por cajas</a>
                                </li>
                                <li>
                                    <a href="/gestionArt/ganado/ganadoList/">Ventas por mes</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

   		<!-- /#page-wrapper -->
        <div id="page-wrapper">
        
        
        
         <!-- Aca va todo el contenido de la pagina-->
            {% block content %}{% endblock %}
            
            
        </div>

        </div>
        <!-- /#page-wrapper -->


 {% block jqueryBody %}{% endblock %}
    
    <!-- jQuery -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

	    <!-- DataTables JavaScript -->
    <script src="{% static 'datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
</body>

<footer>
<br></br>
<hr width="75%" size="9"  style="color: #0056b2;" />
 <div class="footer-bottom" style="text-align:center">
        <div class="container" style="text-align:center">
            <p> Copyright © <strong>dinnpro</strong> - All right reserved. </p>
        </div>
    </div>
</footer>

</html>
