 
{% extends "pages/baseBlanck.html" %}

{% block title %}Sistema Facturacion{% endblock %}
 
 {% block content %}
 <head>
   <meta charset="utf-8">
   
 </head>
 
 <body onload="show_cant_clients();" >		
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Blank</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
	{% endblock %}


{% block encabezado %}
</body>

{% endblock %}