 
{% extends "pages/baseBack.html" %}

{% block title %}Sistema Facturacion{% endblock %}
 
 {% block content %}
 
 {% load static %}
 <head>
   <meta charset="utf-8">
   
    <!-- DataTables CSS -->
    <!-- Nicolas:se comenta por nuevo formato de tabla.
    <link href="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">
	-->
	
    <!-- DataTables Responsive CSS -->
    <!-- Nicolas:se comenta por nuevo formato de tabla.
    <link href="{% static 'datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">
   	-->
   	
    <script>
		$(document).ready(function() {
		    $('#tablaLineaVentas').DataTable();
		} );
	</script>
   	
 </head>
 
 <body onload="show_cant_clients();" >
			<!-- Search -->	
			<!-- nicolasfernandz ini -->
			<!--
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="page-header">Sistema de Facturación Bar7a</h1>
                    <ul class="my-page-header nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="tables.html">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div> 
                            
                        </li>
                    </ul>
                </div>
            </div>
          -->
          <!-- nicolasfernandz fin -->
            <!-- /.row -->
            
		</br>
		 <div class="row">
                <div class="col-lg-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row" >
                                <div class="col-xs-2">
									<div class="col-xs-12">
										<i class="glyphicon glyphicon-search fa-3x" id="iconTareas"></i>
									</div>	
                                </div>
								<div id= 'estadoclients' class="col-xs-7"> 
									<h1>Todas las ventas de {{month}}</h1> 
									
								</div>
                                <div class="col-xs-3 text-right">
                                    <div class="huge" id="cant_clients">                             
                                   
                                   							
                                    </div>
                                    <div id="filtroVehicles">Cantidad Ventas!</div>
                                </div>
                            </div>
                        </div>
						<div class="panel-body">
						 <!-- Table -->
							<!-- <table class="table table-hover" id="tablaLineaVentas">  Nicolas:se comenta por nuevo formato de tabla.-->
							<table id="tablaLineaVentas" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
									<td><strong>Nº de Factura</strong></td>
									<td><strong>Fecha</strong></td>
									<td><strong>Producto</strong></td>
									<td><strong>Total</strong></td>
								</thead>
								<tbody>
								{% for lineaVenta in all_lineaVentas %}
									<tr>
										<td><a href="/back_end/verVenta/{{lineaVenta.Venta.id}}"> {{ lineaVenta.Venta.id }} </a></td>
										<td><a href="/back_end/verVenta/{{lineaVenta.Venta.id}}"> {{ lineaVenta.Venta.fecha|date:"d-m-Y H:i:s" }} </a></td>
										<td><a href="/back_end/verVenta/{{lineaVenta.Venta.id}}"> {{ lineaVenta.PreciosProductoFecha.Producto.nombre }} </a></td>
										<td><a href="/back_end/verVenta/{{lineaVenta.Venta.id}}"> {{ lineaVenta.Venta.total }} </a></td>										
									</tr>
								{% endfor %}
								</tbody>

						  </table>
						</div>
                    </div>
                </div>
				
			</div>
			
			 <!-- 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Blank</h1>
                    </div>
                </div>
            </div>
            -->
            
	{% endblock %}

{% block encabezado %}

</body>
<script type="text/javascript">
	$(function () {
		//otable = $("#tablaLineaVentas").dataTable();	Comente porque levantava una ventana tipo print error
		 
		//Setting number of filtered rows into a div
		//show_cant_vehicles();
	})
   
    function show_cant_clients() {
		//Setting number of filtered rows in div	
		otable = $("#tablaLineaVentas").dataTable();
		document.getElementById('cant_clients').innerHTML = otable.fnSettings().fnRecordsDisplay();
	}
</script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#tablaLineaVentas').DataTable({
        responsive: true,
        order:[[1,"desc"]]
        });
});
</script>
{% endblock %}