 
{% extends "pages/baseBack.html" %}

{% block title %}Sistema Facturacion{% endblock %}
 
 {% block content %}
 
 {% load static %}
 <head>
   <meta charset="utf-8">
   
    <!-- DataTables CSS -->
    <link href="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">
   
 </head>
 
 <body onload="show_cant_clients();" >
			<!-- Search -->	
			<!-- nicolasfernandz ini -->
			<!--
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="page-header">Sistema de Facturación Bar7a</h1>
                    <ul class="my-page-header nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="tables.html">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div> 
                            
                        </li>
                    </ul>
                </div>
            </div>
          -->
          <!-- nicolasfernandz fin -->
            <!-- /.row -->
            
		</br>
		 <div class="row">
                <div class="col-lg-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row" >
                                <div class="col-xs-2">
									<div class="col-xs-12">
										<i class="glyphicon glyphicon-search fa-3x" id="iconTareas"></i>
									</div>	
                                </div>
								<div id= 'estadoclients' class="col-xs-7"> 
									<h1>Informe X</h1> 
									
								</div>
                                <div class="col-xs-3 text-right">
                                    <div class="huge" id="cant_clients">                             
                                   
                                   							
                                    </div>
                                    <div id="filtroVehicles">Cantidad Ventas!</div>
                                </div>
                            </div>
                        </div>
						<div class="panel-body">
						 <!-- Table -->
							<table class="table table-hover" id="tablaClients">
								<thead>
									<td><strong>Nº de Caja</strong></td>
									<td><strong>Descripción</strong></td>
									<td><strong>Ubicación</strong></td>
									<td><strong>Modelo</strong></td>
									<td><strong>Nº de Serie</strong></td>
									<td><strong>Estado</strong></td>
									<td><strong>Acción</strong></td>
								</thead>
								<tbody>
							{% for caja in all_cajas %}
									<tr>
										<td><strong><a href=""> {{ caja.id }} </a> </strong></td>
										<td><strong><a href=""> {{ caja.Descripcion }} </a> </strong></td>
										<td><strong><a href=""> {{ caja.ubicacion }} </a> </strong></td>
										<td><strong><a href=""> {{ caja.modelo}} </a></strong></td>
										<td><strong><a href=""> {{ caja.numero_serie}} </a></strong></td>
										<td><strong><a href=""> {{ caja.estado}} </a></strong></td>
										{% if caja.estado == 'ABIERTA' %}
											<td>
											<input id="generarInformeX" type="button" class="btn btn-default" value="Generar Inf. X" />
											</td>
										{% else %}
											<td>
											<input id="generarInformeXblockeado" type="button" class="btn btn-default btn-sm" value="Generar Inf. X" disabled/>
											</td>
										{% endif %}
										
									</tr>
							{% endfor %}
								</tbody>
						  </table>
						</div>
                    </div>
                </div>
				
			</div>
			
			 <!-- 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Blank</h1>
                    </div>
                </div>
            </div>
            -->
            
	{% endblock %}

{% block encabezado %}

</body>

<script type="text/javascript">
    $(function () {
    	//otable = $("#tablaClients").dataTable();	Comente porque levantava una ventana tipo print error
    	 
    	//Setting number of filtered rows into a div
    	//show_cant_vehicles();
    })
    
    function show_cant_clients() {
		//Setting number of filtered rows in div		
		otable = $("#tablaClients").dataTable();
		document.getElementById('cant_clients').innerHTML = otable.fnSettings().fnRecordsDisplay();
	}
</script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#tablaClients').DataTable({
        responsive: true
        });
});
</script>
{% endblock %}