<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{% endblock %}</title>
	
	<!-- Estilos de Bootstrap -->  	
  	<link rel="stylesheet" href="{% static 'gallery/css/bootstrap.min.css' %}" >
  	<!-- Modals y Fade -->  
  	<link rel="stylesheet" href="{% static 'gallery/css/modalsandfade.css' %}" >  
  	<!-- Estilos Especificos de la gallery -->
  	<link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}" media="screen"> 
  	  	 
  	<script src="{% static 'js/jquery-1.12.4.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>